################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/out/build/x64-Debug
/out/build/x64-Release
/dev/数据库/DB_v0.3
/dev/额外dll
